<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} - Andymism is a magazine about nothing. Designed, developed, and written by Andrew Le</title>

   <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen, projection" />
</head>
<body>
<header class="site">
  <div class="container">
    <div id="logo" class="column span-6">
      <h1><a href="/">Andymism</a></h1>
      <p class="tagline">Is a magazine about nothing</p>
    </div>

    <div class="colophon column span-8">
      <p>Designed, developed, and written by Andrew Le.</p>
    </div>
  </div>
</header>


<section id="main">
  <article>
    {{ content }}
  </article>
</section>

<footer class="site">
</footer>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-4603677-1");
pageTracker._setDomainName(".andymism.com");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>

